@font-face {
    font-family: Luizinho;
    src: url(../font/Butler_Regular.otf);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luizinho', sans-serif;
}

#insiraProduto, .products-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 100px;
}

img
{
    max-height: 200px;
}

.image
{
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.add-cart
{
    position: absolute;
    width: 70%;
    background-color: darkgray;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6 
{
    background-color: greenyellow;
}

.container-products {

    max-width: 650px;
    height: 800px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 200px;

}

.container-products ion-icon {
    font-size: 25px;
    color: green;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header
{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid green;
    margin: 0 auto;
}

.product-title
{
    width: 45%;
}

.price 
{
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity
{
    width: 30%;
    display: flex;
    align-items: center;
}

.total
{
    width: 10%;
    display: flex;
    align-items: center;
}

.product 
{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.products
{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.products img
{
    width: 75px;
}

.imgCarrinho
{
    max-width: 100px;
    max-height: 100px;
}

.basketTotalContainer
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle
{
    width: 30%;
}

/* Header*/
#header {
    background: radial-gradient(circle, rgba(101,196,52,1) 0%, rgba(53,106,46,1) 100%);
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  #header .logo a {
    color: #ffffff;
  }
  
  #header .logo img {
    max-height: 40px;
  }

/* Menu Nav*/
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #000000;
  }

    /* Fim da página */
  
    #footer {
        background: radial-gradient(circle, rgba(101,196,52,1) 0%, rgba(53,106,46,1) 100%);
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding: 30px 0;
        margin-bottom: 0;
      }
      
      #footer h3 {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        position: relative;
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0 0 15px 0;
      }
      
      #footer p {
        font-size: 15;
        font-style: italic;
        padding: 0;
        margin: 0 0 40px 0;
      }

.buttonSelect
{
  margin-top: 100px;
  padding: 3px;
  font-size: large;
}

.buttonSelect2
{
  margin-top: 100px;
  padding: 3px;
  font-size: large;
}

button p
{
  color: black;
}

.buttonSelect button
{
  width: 100px;
  text-align: center;
}

.typeSelect1
{
  position: relative;
  background-color: purple;
}
.typeSelect2
{
  position: relative;
  background-color: red;
}
.typeSelect3
{
  position: relative;
  background-color: orange;
}