@font-face {
    font-family: Luizinho;
    src: url(../font/Butler_Regular.otf);
}

/* Geral */
body {
    font-family: Luizinho;
    color: #444444;
  }
  
  a {
    color: #006fbe;
  }
  
  a:hover {
    color: #008df1;
    text-decoration: none;
  }

/* Header*/
#header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(74,252,81,1) 100%);
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  #header .logo a {
    color: #ffffff;
  }
  
  #header .logo img {
    max-height: 40px;
  }

/* Menu Nav*/
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #000000;
  }
  
  /* A plataforma*/ 

  .img-inst
  {
      height: 220px;
      width: 500px;
  }

  .about
  {
      margin-top: 45px;
  }

  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  
  .about .content ul li + li {
    margin-top: 10px;
  }
  
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #0cb837;
    line-height: 1;
  }

  /* Titulo da seção*/

  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #b4e0ff;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #00be29;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  /* Fim da página */
  
  #footer {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(74,252,81,1) 100%);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  /* Painel da equipe */

  .imgEquipe
  {
      height: 400px;
      width: 100%;
      display: block;
  }

  .column {
    margin-top: 100px;
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 4px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  /* Produtores (features) */

  .features
  {
      margin-top: 100px;
  }
  
  .features .img-prod-box {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .features .img-prod {
    display: flex;
    justify-content: center;
  }
  
  .features .img-prod img {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #02c22b;
    font-size: 40px;
    overflow: hidden;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  }
  
  .features .img-prod-box:hover .img-prod img {
    box-shadow: 0px 0 25px rgba(0, 190, 63, 0.3);
  }
  
  .features .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
  }
  
  .features .title a {
    color: #444444;
    transition: 0.3s;
  }
  
  .features .title a:hover {
    color: #00be09;
  }
  
  .features .title::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #00be55;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .features .description {
    line-height: 24px;
    font-size: 14px;
  }

  /* Opções de compra */

  #cardprice1
  {
    margin-top: 80px;
  }

  .card-pricing
  {
    margin-top: 90px;
  }

  .card-pricing.popular {
    z-index: 1;
    border: 3px solid #4a962b;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #000000;
}
