*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: monospace;
	box-sizing: border-box;
}

body
{
	min-height: 100vh;
	background-image: url(https://areademulher.r7.com/wp-content/uploads/2020/03/alimentos-que-melhoram-a-pele-8-exemplos-saudaveis-e-saborosos-4.jpg);
}

.login
{
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.login h1
{
	text-align: center;
	margin-bottom: 60px;
}

.txtb
{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin-left: 30px 0;
	margin-bottom: 40px;
}

.txtb input
{
	font-size: 15px;
  	color: #333;
  	border: none;
  	width: 100%;
  	outline: none;
  	background: none;
  	padding: 0 5px;
  	height: 40px;
}

.txtb span::before
{
	content: attr(data-placeholder);
  	position: absolute;
  	top: 50%;
  	left: 5px;
  	color: #adadad;
  	transform: translateY(-50%);
  	z-index: -1;
 	 transition: .5s;
}

.txtb span::after
{
	content: '';
  	position: absolute;
  	top: 100%;
	left: 0;
 	width: 0%;
  	height: 2px;
  	background: linear-gradient(120deg,#497909,#28c12f);
  	transition: .5s;
}

.focus + span::before
{
	top: -5px;
}

.focus + span::after
{
	width: 100%;
}