<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Healthy Foods</title>
</head>
<body>
    <div class="grid-container">

        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">
                    Healthy Foods
                </a>
            </div>
            <div class="header-links">
                <a href="carrinho.html">
                    Carrinho
                </a>
                <a href="login.html">
                    Entrar
                </a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Categorias</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x
            </button>
            <ul>
                <li>
                    <a href="index.html">Uvas</a>
                </li>

                <li>
                    <a href="index.html">Morangos</a>
                </li>
            </ul>
        </aside>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="products-image" src="../images/d1.jpg" alt="product">
                            <div class="product-name">
                            <a href="product.html">Uva</a>
                            </div>
                            <div class="product-brand">Itália</div>
                            <div class="product-price">10R$</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="../images/d3.jpg" alt="product">
                            <div class="product-name">
                            <a href="product.html">Uva</a>
                            </div>
                            <div class="product-brand">Merlot</div>
                            <div class="product-price">7R$</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="../images/d2.jpg" alt="product">
                            <div class="product-name">
                            <a href="product.html">Morango</a>
                            </div>
                            <div class="product-brand">Albion</div>
                            <div class="product-price">13R$</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="products-image" src="../images/d1.jpg" alt="product">
                            <div class="product-name">
                            <a href="product.html">Uva</a>
                            </div>
                            <div class="product-brand">Itália</div>
                            <div class="product-price">10R$</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>

        <footer class="footer">
            All rights reserved.
        </footer>
    </div>

    <script>
        function openMenu()
        {
            document.querySelector('.sidebar').classList.add('open');
        }

        function closeMenu()
        {
            document.querySelector('.sidebar').classList.remove('open');
        }

    </script>
</body>
</html>